@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
.login{
    background: #7EFFAF;
    font-family: 'Poppins', 'sans-serif';
    height: 100vh;
    width: 100vw;
}

.container{
    max-width: 1100px;
    /*First value is top and bottomn margin, second value is left and right*/
    margin: 0 auto;
    /*overflow occurs when an element’s content does not fit entirely inside the element box.*/
    /*The CSS overflow property has several ways to control overflow*/
    overflow: visible;
    padding: 0 40px;

    display: flex;
    justify-content: center;
    height: 100%;
  }

  .logincard, .signupcard{
    background-color: white;
    color: black;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    position: relative;
    top:60px;
    height: 550px;
    width: 350px;
    margin: 50px;
    padding: 20px;
  }

.logincard h1,.signupcard h1{
    font-size: 40px;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 10px 0;
}

.logincard p .signupcard p{
    font-size: 15px; 
}

.logincard .form{
    margin-top: 50px;
}

.signupcard .form{
    margin-top: 30px;
}

.form-control{
    margin: 10px 0;
    display: flex;
    border-bottom: 2px solid rgb(208, 208, 208);
}

.form-control input{
    border: 0;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.form-control input:focus{
    outline: none;
}

.form-control input::placeholder{
    font-family: 'Poppins';
}

.form-control input:hover{
    outline: none;
  }

.form-control svg{
    margin-bottom: 10px;
}

.forgot-password{
    background-color: white;
    border: none;
    cursor: pointer;
    margin: 10px 0;
    display: flex;
    width: 100%;
    justify-content: end;
    font-family: 'Poppins';
    font-size: 10px;
    font-weight: bold;
}

.btns-control{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25%;
    margin: 40px 20px;
}

.btns-control p{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    font-size: 12px;
}


.login-btn, .register-btn{
    background: rgb(207,254,224);
    background: linear-gradient(90deg, rgba(207,254,224,1) 10%, rgba(151,255,195,1) 33%, rgba(64,255,150,1) 60%, rgba(2,250,138,1) 86%);
    padding: 10px;
    border: 1px solid black;
    border-radius: 25px;
    cursor: pointer;
    font-family: 'Poppins';
    font-size: 15px;
}

.create-acct-btn, .back-btn{
    background-color: white;
    border: none;
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.login-btn:hover, .register-btn:hover{
    transform:scale(0.95);
    opacity: 0.5;
}



