.navbar{
    background-color: #5FEE92;
    height: 100px;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins';

}

.navbar span{
    text-decoration: none;
    color: black;
    margin-right: 60px;
}

.navbar span:hover{
    text-decoration: underline;
}

.navbar h1{
    padding: 20px;
    font-weight: bold;
}

.navbar ul{
    list-style-type: none;
    display: flex;
    margin-right: 30px;
    align-items: first baseline;
}

.logo{
    display: flex;
    margin-left: 85px;
    cursor: pointer;
}

.logo img{
    height: 50px;
    width: 50px;
    margin-top: 5px;
}

.logout{
    font-family: 'Poppins';
    color: white;
    background-color: black;
    border: none;
    border-radius: 25px;
    padding: 10px 35px;
    cursor: pointer; 
}

.logout:hover{
    transform:scale(0.95);
    opacity: 0.5;
}